NODE_ENV=development

## drop schema: boolean
DROP_SCHEMA=true

## run migrations: boolean
RUN_MIGRATIONS=true

## run seed
RUN_SEEDS=true 

API_PORT=8001
DB_HOST=localhost
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres